{% extends "shop/base.html" %}

{%block nav_tabs%}
<ul class="nav nav-tabs"
	style="
	background-color: #F5F5F5;
	">
  <li class="active"><a href="{{ROOT_URL}}/home">Hockley</a></li>
  <li><a href="{{ROOT_URL}}/sherwood">Sherwood</a></li>
  <li><a href="{{ROOT_URL}}/catering">Catering</a></li>
  <li><a href="{{ROOT_URL}}/blog">Blog</a></li>
  <li><a href="{{ROOT_URL}}/">TEST</a></li>
</ul>
{%endblock%}


{%block section_base%}
<div class="navbar">
      <div class="navbar-inner" 
      	style="
      		background-color: #4C4259;
    		background-image: -moz-linear-gradient(center top , #4C4259, #4C4259);
    		background-image: -ms-linear-gradient(top, #4C4259, #4C4259);
  			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4C4259), to(#4C4259));
  			background-image: -webkit-linear-gradient(top, #4C4259, #4C4259);
  			background-image: -o-linear-gradient(top, #4C4259, #4C4259);
  			background-image: linear-gradient(top, #4C4259, #4C4259);">
        <div class="container-fluid">
          <a class="brand" href="{{ROOT_URL}}home">Home</a>
          <ul class="nav">
            <li><a href="{{ROOT_URL}}/menu">Menu</a></li>  
            <li><a href="{{ROOT_URL}}/cakes">Cakes</a></li>    
            <li><a href="{{ROOT_URL}}/gallery">Gallery</a></li> 
            <li><a href="{{ROOT_URL}}/suppliers">Suppliers</a></li> 
            <li><a href="{{ROOT_URL}}/friends">Friends</a></li> 
            <li><a href="{{ROOT_URL}}/jobs">Jobs</a></li> 
            <li><a href="{{ROOT_URL}}/contact">Contact us</a></li> 
        	<li><a href="{{ROOT_URL}}/find_us">Find us</a></li>          
            <!--<li><a href="/shop">Shop</a></li>-->
          </ul>
          <ul class="nav pull-right">
<!--            <li><a href="/shop/basket">Basket</a></li> -->
            <li class="divider-vertical"></li>            
          {%if user %}
         	{%if user.is_authenticated %}
           	 <li><a href="#">Logged in as {{user}}</a></li>
           	 <li class="divider-vertical"></li>
           	 <li><a href="{{ROOT_URL}}/logout">Log out</a></li>
          	{%else%}
          	<li><a href="{{ROOT_URL}}/login">Sign up | Log in</a></li>
          	{%endif%} 
          {%endif%}
          </ul>
        </div>
      </div>
    </div>
    
{%endblock%}