<div class="span3">
 
 {% if latest_news_list %}
 <table class="table">
  <thead>
   <th><h3>News</h3></th>
  </thead>
  <tbody>  
    {% for news in latest_news_list %}
    <tr>
    <td>
      <h4>{{ news.title }} <small>Added {{news.pub_date|date:"d M Y"}}</small></h4>
      {{ news.description }}
      </br>
      </br>
      {%if news.image != "" %}
      <img src="{{MEDIA_URL}}{{news.image}}" alt="{{news.title}}" width="200"/>
      {%endif%}
      <a href="{{news.link}}">{{ news.link }}</a>
    </td>
    </tr>
    {% endfor %}
    {% else %}
 	 <tr>
 	 <td>
  	  <p>Currently no news.</p>
     </td>
     </tr>
  {% endif %}
   </tbody>
   </table>
  
 </div>
 
 
 <!-- 
 {% if latest_news_list %}
  <h3>News</h3> 
    {% for news in latest_news_list %}
    <div>
    <p>
    <h4>{{ news.title }}</h4>
    <p>{{ news.description }}</p>
    <a href="{{news.link}}">{{ news.link }}</a>
    </p>
    </div>
    <br>
    {% endfor %}
 {% else %}
 	<div>
  	 <p>Currently no news.</p>
    </div>
 {% endif %}
 
   -->